body{
background:rgb(67, 142, 255) ;
font: normal 20pt arial;
}

header{
    color: white;
    text-align: center;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.26);/*coloca sombra no texto*/
/*text-decoration-line:underline;,  coloca uma linha embaixo do texto*/

}

section{
    background: white;
    border-radius: 10px; /*É para arredondar as bordas*/
    padding: 15px; /*da um espaço dentro*/
    width: 500px; /*largura do box*/
    height: 320px;
    margin: auto;/*coloca o box no centro da pagina*/
    box-shadow:4px 4px 10px rgba(0, 0, 0, 0.411) ;
/*Para criar uma sombra mo box, 1ºN lateral,2ºN vvertical, 3ºN espalhamento e a cor */
    
}

div{
    text-align: center;
    padding: 8px;
}

footer{
    color: white;
    text-align: center;
    font-style: italic;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.26);
}